<!DOCTYPE html>
<html>
  <head>
    <title>test</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="yamate.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
     <div class="contents">
 <div class="right">
    <li>
     Oosaki
    </li>
    <li>
     Gotanda
    </li>
    <li>
     Meguro
    </li>
    <li>
     Ebisu
    </li>
    <li>
     Shibuya
    </li>
    <li>
     Harajyuku
    </li>
    <li>
     Yoyogi
    </li>
    <li>
     Shinjyuku
    </li>
    <li>
     Shinookubo
    </li>
    <li>
     Takadanobaba
    </li>
    <li>
     Mejiro
    </li>
    <li>
     Ikebukuro
    </li>
    <li>
     Ootsuka
    </li>
    <li>
     Sugamo
    </li>
    <li>
     Komagome
    </li>
    <li>
     Tabata
    </li>
    <li>
     Nishinippori
    </li>
    <li>
     Nippori
    </li>
    <li>
     Uguisudani
    </li>
    <li>
     Ueno
    </li>
    <li>
     Okachimachi
    </li>
    <li>
     Akihabara
    </li>
    <li>
     Kanda
    </li>
    <li>
     Tokyo
    </li>
    <li>
     Yuurakucho
    </li>
    <li>
     Shinbashi
    </li>
    <li>
     hamamatsucho
    </li>
    <li>
     Tamachi
    </li>
    <li>
     Shinagawa
    </li>
    </div>
 <div class="left">
    </div>
 <div class="blue">
    </div>
 <div class="li1">
    </div>
 <div class="li2">
  <h10>
  Yamanote line
  </h10>
    </div>
 <div class="li3">
    </div>
 <div class="li4">
    </div>
 <div class="li5">
    </div>
</div>
  </body>
</html>
