<SCRIPT language="JavaScript">


 DD = new Date();  //現在時刻の取得
  // Year = DD.getYear();
  // Month = DD.getMonth() + 1;
  // Day = DD.getDate();
  // Hours = DD.getHours();
  // Minutes = DD.getMinutes();・
  // Seconds = DD.getSeconds();
  // document.write("ページを取得したときの時刻:",Month,"月",Day,"日",Hours,"時",Minutes,"分",Seconds,"秒","<br>",);

window.onload = function () {
    // setIntervalの基本
    var timer1 = null;
    function event() {
      var tmp = $('h10').offset().top;
      // console.log(tmp);
      if (tmp < 180){

        $(function(){
          $(".pcenterline").scrollTop(40);
        });


      $('.vcenterline').css('background-color', '#79A1D4');
        $("li").html(`\r\n
        ○　Uneno\r\n<br/>
        ○　Nippori\r\n<br/>
        ○　Mikawashima\r\n<br/>
        ○　Minamisenjyu\r\n<br/>
        ○　Kitasenjyu\r\n<br/>
        ○　Matsudo\r\n<br/>
        ○　Kasiwa\r\n<br/>
        ○　Abiko\r\n<br/>
        ○　Tennoudai\r\n<br/>
        ○　Toride\r\n<br/>
        ○　Fujishiro\r\n<br/>
        ○　Sanuki\r\n<br/>
        ○　Ushiku\r\n<br/>
        ○　Hitachinoushiku\r\n<br/>
        ○　Arakawaoki\r\n<br/>
        ○　Tsuchiura\r\n<br/>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        `)//テキストを強引に変更
 var tmp2 = $('li').offset().top;// xミリ秒ごとにコンソールに表示
        // console.log(tmp2);
        if (tmp2 > -20 ){
            $(function(){
    $(".stationautoscroll").scrollTop(0);
});
            $('resultbutton').on('click', function() {
                location.href = '/delay?selectstation=' + "Ueno";
            });console.log("Ueno");
        }
        else if(tmp2 < -20 && tmp2 > -60){
            $(function(){
    $(".stationautoscroll").scrollTop(40);
});
            $('resultbutton').on('click', function() {
                location.href = '/delay?selectstation=' + "Nippori";
            });console.log("Nippori");
        }
        else if(tmp2 < -60 && tmp2 > -100){
            $(function(){
    $(".stationautoscroll").scrollTop(80);
});
            $('resultbutton').on('click', function() {
                location.href = '/delay?selectstation=' + "Mikawashima";
            });console.log("Mikawashima");
        }
        else if(tmp2 < -100 && tmp2 > -140){
            $(function(){
    $(".stationautoscroll").scrollTop(120);
});
            $('resultbutton').on('click', function() {
                location.href = '/delay?selectstation=' + "Minamisenjyu";
            });console.log("Minamisenjyu");
        }
        else if(tmp2 < -140 && tmp2 > -180){
            $(function(){
    $(".stationautoscroll").scrollTop(160);
});
            $('resultbutton').on('click', function() {
                location.href = '/delay?selectstation=' + "Kitasenjyu";

            });console.log("Kitasenjyu");
        }
        else if(tmp2 < -180 && tmp2 > -220){
            $(function(){
    $(".stationautoscroll").scrollTop(200);
});
            $('resultbutton').on('click', function() {
                location.href = '/delay?selectstation=' + "Matsudo";

            });console.log("Matsudo");
        }
        else if(tmp2 < -220 && tmp2 > -260){
            $(function(){
    $(".stationautoscroll").scrollTop(240);
});
            $('resultbutton').on('click', function() {
                location.href = '/delay?selectstation=' + "Kashiwa";

            });console.log("Kashiwa");
        }
        else if(tmp2 < -260 && tmp2 > -300){
            $(function(){
    $(".stationautoscroll").scrollTop(280);
});
            $('resultbutton').on('click', function() {
                location.href = '/delay?selectstation=' + "Abiko";

            });console.log("Abiko");
        }
        else if(tmp2 < -300 && tmp2 > -340){
            $(function(){
    $(".stationautoscroll").scrollTop(320);
});
            $('resultbutton').on('click', function() {
                location.href = '/delay?selectstation=' + "Tennoudai";

            });console.log("Tennoudai");
        }
        else if(tmp2 < -340 && tmp2 > -380){
            $(function(){
    $(".stationautoscroll").scrollTop(360);
});
            $('resultbutton').on('click', function() {
                location.href = '/delay?selectstation=' + "Toride";

            });console.log("Toride");
        }
        else if(tmp2 < -380 && tmp2 > -420){
            $(function(){
    $(".stationautoscroll").scrollTop(400);
});
            $('resultbutton').on('click', function() {
                location.href = '/delay?selectstation=' + "Fujishiro";

            });console.log("Fujishiro");
        }
        else if(tmp2 < -420 && tmp2 > -460){
            $(function(){
    $(".stationautoscroll").scrollTop(440);
});
            $('resultbutton').on('click', function() {
                location.href = '/delay?selectstation=' + "Sanuki";

            });console.log("Sanuki");
        }
        else if(tmp2 < -460 && tmp2 > -500){
            $(function(){
    $(".stationautoscroll").scrollTop(480);
});
            $('resultbutton').on('click', function() {
                location.href = '/delay?selectstation=' + "Ushiku";

            });console.log("Ushiku");
        }
        else if(tmp2 < -500 && tmp2 > -540){
            $(function(){
    $(".stationautoscroll").scrollTop(520);
});
            $('resultbutton').on('click', function() {
                location.href = '/delay?selectstation=' + "Hitachinoushiku";

            });console.log("Hitachinoushiku");
        }
        else if(tmp2 < -540 && tmp2 > -580){
            $(function(){
    $(".stationautoscroll").scrollTop(560);
});
            $('resultbutton').on('click', function() {
                location.href = '/delay?selectstation=' + "Arakawaoki";
            });console.log("Arakawaoki");
        }
        else if(tmp2 < -580 && tmp2 > -620){
            $(function(){
    $(".stationautoscroll").scrollTop(600);
});
            $('resultbutton').on('click', function() {
                location.href = '/delay?selectstation=' + "Tsuchiura";
            });console.log("Tsuchiura");
        }
      }
      else {

        $(function(){
          $(".pcenterline").scrollTop(0);
        });

        $('.vcenterline').css('background-color', '#6AC1B7');
        $("li").html(`
         ○　Osaki\r\n<br/>
         ○　Gotanda\r\n<br/>
         ○　Meguro\r\n<br/>
         ○　Ebisu\r\n<br/>
         ○　Shibuya\r\n<br/>
         ○　Harajyuku\r\n<br/>
         ○　Yoyogi\r\n<br/>
         ○　Shinjyuku\r\n<br/>
         ○　Shin-Okubo\r\n<br/>
         ○　Takadanobaba\r\n<br/>
         ○　Mejiro\r\n<br/>
         ○　Ikebukuro\r\n<br/>
         ○　Otsuka\r\n<br/>
         ○　Sugamo\r\n<br/>
         ○　Komagome\r\n<br/>
         ○　Tabata\r\n<br/>
         ○　Nishi-Nippori\r\n<br/>
         ○　Nippori\r\n<br/>
         ○　Uguisudani\r\n<br/>
         ○　Ueno\r\n<br/>
         ○　Okachimachi\r\n<br/>
         ○　Akihabara\r\n<br/>
         ○　Kanda\r\n<br/>
         ○　Tokyo\r\n<br/>
         ○　Yurakucho\r\n<br/>
         ○　Shimbashi\r\n<br/>
         ○　Hamamatsucho\r\n<br/>
         ○　Tamachi\r\n<br/>
         ○　Shinagawa\r\n<br/>
         ♪　げーとうぇーい\r\n<br/>
         <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
      `)//テキストを強引に変更
        var tmp2 = $('li').offset().top;// xミリ秒ごとにコンソールに表示
        // console.log(tmp2);
        if (tmp2 > -20 ){
            $(function(){
    $(".stationautoscroll").scrollTop(0);
});
            $('resultbutton').on('click', function() {
                location.href = '/delay?selectstation=' + "Osaki";
            });console.log("Osaki");
        }
        else if(tmp2 < -20 && tmp2 > -60){
            $(function(){
    $(".stationautoscroll").scrollTop(40);
});
            $('resultbutton').on('click', function() {
                location.href = '/delay?selectstation=' + "Gotanda";
            });console.log("Gotanda");
        }
        else if(tmp2 < -60 && tmp2 > -100){
            $(function(){
    $(".stationautoscroll").scrollTop(80);
});
            $('resultbutton').on('click', function() {
                location.href = '/delay?selectstation=' + "Meguro";
            });console.log("Meguro");
        }
        else if(tmp2 < -100 && tmp2 > -140){
            $(function(){
    $(".stationautoscroll").scrollTop(120);
});
            $('resultbutton').on('click', function() {
                location.href = '/delay?selectstation=' + "Ebisu";
            });console.log("Ebisu");
        }
        else if(tmp2 < -140 && tmp2 > -180){
            $(function(){
    $(".stationautoscroll").scrollTop(160);
});
            $('resultbutton').on('click', function() {
                location.href = '/delay?selectstation=' + "Shibuya";

            });console.log("Shibuya");
        }
        else if(tmp2 < -180 && tmp2 > -220){
            $(function(){
    $(".stationautoscroll").scrollTop(200);
});
            $('resultbutton').on('click', function() {
                location.href = '/delay?selectstation=' + "Harajyuku";

            });console.log("Harajuku");
        }
        else if(tmp2 < -220 && tmp2 > -260){
            $(function(){
    $(".stationautoscroll").scrollTop(240);
});
            $('resultbutton').on('click', function() {
                location.href = '/delay?selectstation=' + "Yoyogi";

            });console.log("Yoyogi");
        }
        else if(tmp2 < -260 && tmp2 > -300){
            $(function(){
    $(".stationautoscroll").scrollTop(280);
});
            $('resultbutton').on('click', function() {
                location.href = '/delay?selectstation=' + "Shinjyuku";

            });console.log("Shinjyuku");
        }
        else if(tmp2 < -300 && tmp2 > -340){
            $(function(){
    $(".stationautoscroll").scrollTop(320);
});
            $('resultbutton').on('click', function() {
                location.href = '/delay?selectstation=' + "Shin-Okubo";

            });console.log("Shin-Okubo");
        }
        else if(tmp2 < -340 && tmp2 > -380){
            $(function(){
    $(".stationautoscroll").scrollTop(360);
});
            $('resultbutton').on('click', function() {
                location.href = '/delay?selectstation=' + "Takadanobaba";

            });console.log("Takadanobaba");
        }
        else if(tmp2 < -380 && tmp2 > -420){
            $(function(){
    $(".stationautoscroll").scrollTop(400);
});
            $('resultbutton').on('click', function() {
                location.href = '/delay?selectstation=' + "Mejiro";

            });console.log("Mejiro");
        }
        else if(tmp2 < -420 && tmp2 > -460){
            $(function(){
    $(".stationautoscroll").scrollTop(440);
});
            $('resultbutton').on('click', function() {
                location.href = '/delay?selectstation=' + "Ikebukuro";

            });console.log("Ikebukuro");
        }
        else if(tmp2 < -460 && tmp2 > -500){
            $(function(){
    $(".stationautoscroll").scrollTop(480);
});
            $('resultbutton').on('click', function() {
                location.href = '/delay?selectstation=' + "Otsuka";

            });console.log("Otsuka");
        }
        else if(tmp2 < -500 && tmp2 > -540){
            $(function(){
    $(".stationautoscroll").scrollTop(520);
});
            $('resultbutton').on('click', function() {
                location.href = '/delay?selectstation=' + "Sugamo";

            });console.log("Sugamo");
        }
        else if(tmp2 < -540 && tmp2 > -580){
            $(function(){
    $(".stationautoscroll").scrollTop(560);
});
            $('resultbutton').on('click', function() {
                location.href = '/delay?selectstation=' + "Komagome";
            });console.log("Komagome");
        }
        else if(tmp2 < -580 && tmp2 > -620){
            $(function(){
    $(".stationautoscroll").scrollTop(600);
});
            $('resultbutton').on('click', function() {
                location.href = '/delay?selectstation=' + "Tabata";
            });console.log("Tabata");
        }
        else if(tmp2 < -620 && tmp2 > -660){
            $(function(){
    $(".stationautoscroll").scrollTop(640);
});
            $('resultbutton').on('click', function() {
                location.href = '/delay?selectstation=' + "Nishi-Nippori";
            });console.log("Nishi-Nippori");
        }
        else if(tmp2 < -660 && tmp2 > -700){
            $(function(){
    $(".stationautoscroll").scrollTop(680);
});
            $('resultbutton').on('click', function() {
                location.href = '/delay?selectstation=' + "Nippori";
            });console.log("Nippori");
        }
        else if(tmp2 < -700 && tmp2 > -740){
            $(function(){
    $(".stationautoscroll").scrollTop(720);
});
            $('resultbutton').on('click', function() {
                location.href = '/delay?selectstation=' + "Uguisudani";
            });console.log("Uguisudani");
        }
        else if(tmp2 < -740 && tmp2 > -780){
            $(function(){
    $(".stationautoscroll").scrollTop(760);
});
            $('resultbutton').on('click', function() {
                location.href = '/delay?selectstation=' + "Ueno";
            });console.log("Ueno");
        }
        else if(tmp2 < -780 && tmp2 > -820){
            $(function(){
    $(".stationautoscroll").scrollTop(800);
});
            $('resultbutton').on('click', function() {
                location.href = '/delay?selectstation=' + "Okachimati";
            });console.log("Okachimati");
        }
        else if(tmp2 < -820 && tmp2 > -860){
            $(function(){
    $(".stationautoscroll").scrollTop(840);
});
            $('resultbutton').on('click', function() {
                location.href = '/delay?selectstation=' + "Akihabara";
            });console.log("Akihabara");
        }
        else if(tmp2 < -860 && tmp2 > -900){
            $(function(){
    $(".stationautoscroll").scrollTop(880);
});
            $('resultbutton').on('click', function() {
                location.href = '/delay?selectstation=' + "Kanda";
            });console.log("Kanda");
        }
        else if(tmp2 < -900 && tmp2 > -940){
            $(function(){
    $(".stationautoscroll").scrollTop(920);
});
            $('resultbutton').on('click', function() {
                location.href = '/delay?selectstation=' + "Tokyo";
            });console.log("Tokyo");
        }
        else if(tmp2 < -940 && tmp2 > -980){
            $(function(){
    $(".stationautoscroll").scrollTop(960);
});
            $('resultbutton').on('click', function() {
                location.href = '/delay?selectstation=' + "Yurakucho";
            });console.log("Yurakutyo");
        }
        else if(tmp2 < -980 && tmp2 > -1020){
            $(function(){
    $(".stationautoscroll").scrollTop(1000);
});
            $('resultbutton').on('click', function() {
                location.href = '/delay?selectstation=' + "Shimbashi";
            });console.log("Shimbashi");
        }
        else if(tmp2 < -1020 && tmp2 > -1060){
            $(function(){
    $(".stationautoscroll").scrollTop(1040);
});
            $('resultbutton').on('click', function() {
                location.href = '/delay?selectstation=' + "Hamamatsucho";
            });console.log("Hamamatsucho");
        }
        else if(tmp2 < -1060 && tmp2 > -1100){
            $(function(){
    $(".stationautoscroll").scrollTop(1080);
});
            $('resultbutton').on('click', function() {
                location.href = '/delay?selectstation=' + "Tamachi";
            });console.log("Tamachi");
        }
        else if(tmp2 < -1100 && tmp2 > -1140){
            $(function(){
    $(".stationautoscroll").scrollTop(1120);
});
            $('resultbutton').on('click', function() {
                location.href = '/delay?selectstation=' + "Shinagawa";
            });console.log("Shinagawa");
        }
        else if(tmp2 < -1140 && tmp2 > -1180){
            $(function(){
    $(".stationautoscroll").scrollTop(1160);
});
            $('resultbutton').on('click', function() {
                location.href = '/delay?selectstation=' + "うぇーいｗｗｗｗｗ";
            });console.log("げーとうぇーい");
        }
      }
    }
    // タイマー開始
    timer1 = setInterval(event, 200);



}

</SCRIPT>


<resultbutton>></resultbutton>
<maru>○</maru>
<div class="contents">
  <div class="right">
    <div class="stationautoscroll" id="auto_scroll">
    <li>
    </li>
    </div>
  </div>
    <div class="left">
    </div>
    <div class="blue">
    </div>
    <div class="vcenterlineblack">
    </div>

    <div class="pcenterline"id="auto_scroll2">
        <div class = "pcenterlineyamate">
          <h10>
          Yamanote line
          </h10>
        </div>
        <div class = "pcenterlinejoban">
          <h11>
          　Joban line
          </h11>
        </div>
      <!-- </div> -->
    </div>

    <div class="vcenterline">
    </div>
    <div class="li4">
    </div>
    <div class="vcenterlinewhite">
    </div>
  </div>

  <div class="endmidashi">
    <aaa>Oku-rail</aaa>
    </div>
