<!DOCTYPE html>
<html>
  <head>
    <title>test</title>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

 <!--    <link rel="stylesheet" type="text/css" href="index.css"> -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>


<body>

<SCRIPT language="JavaScript">

 DD = new Date();  //現在時刻の取得
  // Year = DD.getYear();
  // Month = DD.getMonth() + 1;
  // Day = DD.getDate();
  // Hours = DD.getHours();
  // Minutes = DD.getMinutes();・
  // Seconds = DD.getSeconds();
  // document.write("ページを取得したときの時刻:",Month,"月",Day,"日",Hours,"時",Minutes,"分",Seconds,"秒","<br>",);

window.onload = function () {
    // setIntervalの基本
    var timer1 = null;
    function event() {
      var tmp = $('h10').offset().top;
      // console.log(tmp);
      if (tmp < 180){

      $("#pcenterlinejoban").animate({top: '200' + 'px'});

      $('.vcenterline').css('background-color', 'blue');
        $("li").text("\
     　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\
     　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\
     　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\
     　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\
     　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\
        ●　Uneno　　　　　\
        ●　Nippori　　　　\
        ●　Mikawashima　\
        ●　Minamisennjyu　\
        ●　Kitasenjyu　　\
        ●　Matsudo　　　　\
        ●　Kasiwa　　　　\
        ●　Abiko　　　　　\
        ●　Tennoudai　　　\
        ●　Toride　　　　\
     　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\
     　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\
     　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\
     　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\
     　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\
     　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\
     　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\
     　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\
     　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\
     　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\
        ")//テキストを強引に変更

      // $(function() {// 自動スクロール
      //   $("h11").animate({scrollTop:200});
      // });

      // $(".pcenterlinejoban").animate({
      //   // scrollTop:$('.pcenterline').offset().top});
      //   scrollTop:200});
      }
      else {
        $('.vcenterline').css('background-color', 'green');
        $("li").text("\
     　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\
     　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\
     　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\
     　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\
     　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\
     ○　Osaki　　　　\
     ○　Gotanda　　　\
     ○　Meguro　　　\
     ○　Ebisu　　　　\
     ○　Shibuya　　　\
     ○　Harajyuku　　\
     ○　Yoyogi　　　\
     ○　Shinjyuku　　\
     ○　Shin-Okubo　\
     ○　Takadanobaba\
     ○　Mejiro　　　　\
     ○　Ikebukuro　　\
     ○　Otsuka　　　　\
     ○　Sugamo　　　　\
     ○　Komagome　　\
     ○　Tabata　　　　\
     ○　Nishi-Nippori\
     ○　Nippori　　　\
     ○　Uguisudani　\
     ○　Ueno　　　　　\
     ○　Okachimachi　\
     ○　Akihabara　　\
     ○　Kanda　　　　\
     ○　Tokyo　　　　\
     ○　Yurakucho　　\
     ○　Shimbashi　　\
     ○　Hamamatsucho\
     ○　Tamachi　　　\
     ○　Shinagawa　　\
     ♪　げーとうぇーい\
     　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\
     　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\
     　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\
     　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\
     　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\
     　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\
     　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\
     　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\
     　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\
     　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\　　　　　　　　　　\
      ")//テキストを強引に変更
        var tmp2 = $('li').offset().top;// xミリ秒ごとにコンソールに表示
        // console.log(tmp2);
        if (tmp2 > -20 ){
            $('resultbottom').on('click', function() {
            console.log("Osaki");
            })
            // ;console.log("Osaki");
        }
        else if(tmp2 < -20 && tmp2 > -60){
            $('resultbottom').on('click', function() {

            });console.log("Gotanda");
        }
        else if(tmp2 < -60 && tmp2 > -100){
            $('resultbottom').on('click', function() {
            });console.log("Meguro");
        }
        else if(tmp2 < -100 && tmp2 > -140){
            $('resultbottom').on('click', function() {

            });console.log("Ebisu");
        }
        else if(tmp2 < -140 && tmp2 > -180){
            $('resultbottom').on('click', function() {

            });console.log("Shibuya");
        }
        else if(tmp2 < -180 && tmp2 > -220){
            $('resultbottom').on('click', function() {

            });console.log("Harajuku");
        }
        else if(tmp2 < -220 && tmp2 > -260){
            $('resultbottom').on('click', function() {

            });console.log("Yoyogi");
        }
        else if(tmp2 < -260 && tmp2 > -300){
            $('resultbottom').on('click', function() {

            });console.log("Shinjyuku");
        }
        else if(tmp2 < -300 && tmp2 > -340){
            $('resultbottom').on('click', function() {

            });console.log("Shin-Okubo");
        }
        else if(tmp2 < -340 && tmp2 > -380){
            $('resultbottom').on('click', function() {

            });console.log("Takadanobaba");
        }
        else if(tmp2 < -380 && tmp2 > -420){
            $('resultbottom').on('click', function() {

            });console.log("Mejiro");
        }
        else if(tmp2 < -420 && tmp2 > -460){
            $('resultbottom').on('click', function() {

            });console.log("Ikebukuro");
        }
        else if(tmp2 < -460 && tmp2 > -500){
            $('resultbottom').on('click', function() {

            });console.log("Otsuka");
        }
        else if(tmp2 < -500 && tmp2 > -540){
            $('resultbottom').on('click', function() {

            });console.log("Sugamo");
        }
        else if(tmp2 < -540 && tmp2 > -580){
            $('resultbottom').on('click', function() {

            });console.log("Komagome");
        }
        else if(tmp2 < -580 && tmp2 > -620){
            $('resultbottom').on('click', function() {

            });console.log("Tabata");
        }
        else if(tmp2 < -620 && tmp2 > -660){
            $('resultbottom').on('click', function() {

            });console.log("Nishi-Nippori");
        }
        else if(tmp2 < -660 && tmp2 > -700){
            $('resultbottom').on('click', function() {

            });console.log("Nippori");
        }
        else if(tmp2 < -700 && tmp2 > -740){
            $('resultbottom').on('click', function() {

            });console.log("Uguisudani");
        }
        else if(tmp2 < -740 && tmp2 > -780){
            $('resultbottom').on('click', function() {

            });console.log("Ueno");
        }
        else if(tmp2 < -780 && tmp2 > -820){
            $('resultbottom').on('click', function() {

            });console.log("Okachimati");
        }
        else if(tmp2 < -820 && tmp2 > -860){
            $('resultbottom').on('click', function() {

            });console.log("Akihabara");
        }
        else if(tmp2 < -860 && tmp2 > -900){
            $('resultbottom').on('click', function() {

            });console.log("Kanda");
        }
        else if(tmp2 < -900 && tmp2 > -940){
            $('resultbottom').on('click', function() {

            });console.log("Tokyo");
        }
        else if(tmp2 < -940 && tmp2 > -980){
            $('resultbottom').on('click', function() {

            });console.log("Yurakutyo");
        }
        else if(tmp2 < -980 && tmp2 > -1020){
            $('resultbottom').on('click', function() {

            });console.log("Shimbashi");
        }
        else if(tmp2 < -1020 && tmp2 > -1060){
            $('resultbottom').on('click', function() {

            });console.log("Hamamatsucho");
        }
        else if(tmp2 < -1060 && tmp2 > -1100){
            $('resultbottom').on('click', function() {

            });console.log("Tamachi");
        }
        else if(tmp2 < -1100 && tmp2 > -1140){
            $('resultbottom').on('click', function() {

            });console.log("Shinagawa");
        }
        else if(tmp2 < -1140 && tmp2 > -1180){
            $('resultbottom').on('click', function() {

            });console.log("げーとうぇーい");
        }
      }
    }
    // タイマー開始
    timer1 = setInterval(event, 100);



}

</SCRIPT>


<resultbottom>></resultbottom>
<maru>○</maru>
<div class="contents">
  <div class="right">
    <div style="width:199px;height:640px;overflow:auto;">
    <!-- <li>
     Oosaki
    </li>
    <li>
     Gotanda
    </li>
    <li>
     Meguro
    </li>
    <li>
     Ebisu
    </li>
    <li>
     Shibuya
    </li>
    <li>
     Harajyuku
    </li>
    <li>
     Yoyogi
    </li>
    <li>
     Shinjyuku
    </li>
    <li>
     Shinookubo
    </li>
    <li>
     Takadanobaba
    </li>
    <li>
     Mejiro
    </li>
    <li>
     Ikebukuro
    </li>
    <li>
     Ootsuka
    </li>
    <li>
     Sugamo
    </li>
    <li>
     Komagome
    </li>
    <li>
     Tabata
    </li>
    <li>
     Nishinippori
    </li>
    <li>
     Nippori
    </li>
    <li>
     Uguisudani
    </li>
    <li>
     Ueno
    </li>
    <li>
     Okachimachi
    </li>
    <li>
     Akihabara
    </li>
    <li>
     Kanda
    </li>
    <li>
     Tokyo
    </li>
    <li>
     Yuurakucho
    </li>
    <li>
     Shinbashi
    </li>
    <li>
     hamamatsucho
    </li>
    <li>
     Tamachi
    </li>
    <li>
     Shinagawa
    </li> -->
    <li>
<!--      Oosaki
     Gotanda
     Meguro
     Ebisu
     Shibuya
     Harajyuku
     Yoyogi
     Shinjyuku
     Shinookubo
     Takadanobaba
     Mejiro
     Ikebukuro
     Ootsuka
     Sugamo
     Komagome
     Tabata
     Nishinippori
     Nippori
     Uguisudani
     Ueno
     Okachimachi
     Akihabara
     Kanda
     Tokyo
     Yuurakucho
     Shinbashi
     hamamatsucho
     Tamachi
     Shinagawa -->
    </li>
    </div>
  </div>
    <div class="left">
    </div>
    <div class="blue">
    </div>
    <div class="vcenterlineblack">
    </div>

    <div class="pcenterline">
        <div class = "pcenterlineyamate">
          <h10>
          Yamanote line
          </h10>
        </div>
        <div class = "pcenterlinejoban">
          <h11>
          Joban line
          </h11>
        </div>
      <!-- </div> -->
    </div>

    <div class="vcenterline">
    </div>
    <div class="li4">
    </div>
    <div class="vcenterlinewhite">
    </div>
  </div>
</body>
</html>
