<!DOCTYPE html>
<html>
  <head>
    <title>test</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="index.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
     <div class="contents">
    <h1>Delay Prediction</h1>
    <h2>long time</h2>
    <h4>0.2%</h4>
    <h3>Short time</h3>
    <h5>1%</h5>
    <p class="fan"></p>

     <div class="station">
    <li>
     Oosaki
    </li>
    <li1>
     Gotanda
    </li1>
    <li2>
     Meguro
    </li2>
    <li3>
     Ebisu
    </li3>
    <li4>
     Shibuya
    </li4>
    <li5>
     Harajyuku
    </li5>
    <li6>
     Yoyogi
    </li6>
        </div>
    </div>
  </body>
</html>
