// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
  height: 100vw;
  margin: 0;
  padding: 0;
}
.midashi{
position:absolute;
top:0;
height:40px;
width:100%;
float: right;
background-color:#517D99;
z-index: 100;
text-align:center
}

aa{
// font-family:cursive;
  font-size:28px;
  color: white;
}

.endmidashi{
position:absolute;
bottom:0;
height:40px;
width:100%;
float: right;
background-color:#517D99;
text-align:center;
z-index: 10;
}

aaa{
  font-family:cursive;
  font-size:25px;
  color: #DFEFED;
}

.contents{
  height: 100%;

  width: 100%;
  /*background: radial-gradient(#b8dce5, #1c81a4);*/
  /*background: radial-gradient(#c8e9ca, #3a87ff);*/
  /*filter: saturate(50%);*/
  /*background: linear-gradient(#05FBFF, #1E00FF);*/
  margin: 0 auto;
  /*padding-top: 60px;*/
}


.vcenterlineblack{
  position: fixed;
  background-color: black;
  height: 100%;
  width: 45px;
  float: left;
  // left: 43%;
  left: 160px;
  z-index: 3;
  /*clear: both;*/
}
.vcenterline{
  // background-color: #388E3C;
  background-color: #6AC1B7;
  height: 100%;
  width: 30px;
  float: left;
  position: fixed;
  left: 45%;
  z-index: 5;
  /*clear: both;*/
}


.vcenterlinewhite{
  background-color: white;
  height: 100%;
  width: 37px;
  float: left;
  position: fixed;
  left: 44%;
  z-index: 4;
  /*clear: both;*/
}

.pcenterline{
  // background-color: #388E3C;
  height: 40px;
  width: 100%;
  position: absolute;
  z-index: 10;
  // top: 52%;
  top: 200px;
  overflow: scroll;
}

.pcenterlineyamate{
  // background-color: #388E3C;
  background-color: #6AC1B7;
  height: 40px;
  width: 100%;
  position: absolute;
  z-index: 10;
  // top: 52%;
}
.pcenterlinejoban{
  // background-color: blue;
  background-color: #79A1D4;
  height: 40px;
  width: 100%;
  position: absolute;
  z-index: 10;
  // top: 52%;
  top:40px;
}

/*.li4{
  background-color: black;
  height: 53px;
  width: 100%;
  position: absolute;
  top: 51%;
}*/

h10{
  color:white;
  font-size: 22px;
  position: absolute;
  // top: 4px;
  left: 14px;
  padding-top: 5px;
}

h11{
  color: white;
  font-size: 22px;
  position: absolute;
  // top: 10%;
  left: 13px;
  padding-top: 5px;
}

li {
  margin: 0;

  padding-top: 200px;
  list-style: none;
  font-size: 19px;
  line-height:40px;
  z-index: 2;
  color: #454545;
}

.right{
  // clear: both;
  // position: absolute;
  // float: right;
  right: -34px;
  width: 219px;
//   z-index: 20;
  overflow: scroll;
 }

resultbutton{
position: absolute;
right: 0px;
top:185px;
font-size: 40px;
z-index: 500;
color: #DFEFED;
}

maru{
position: absolute;
left:187px;
top:202px;
font-size: 24px;
z-index: 500;
color: #DFEFED;
}

.stationautoscroll{
  height: 168vw;
  overflow: scroll;
}

// .scroll{
//   right:30px;
// }

